body{
      font-family: 'Poppins', sans-serif;
      margin: 0;

}
h1{
      font-size: 50px;
}
.coco{
      color: rgb(218, 144, 5);
      
}
p{
      text-align: justify;
}
section{
      display: flex;
      margin-bottom: 300px;
}
.width{
      width: 50%;
      padding-left: 5%;
}
.width img{
      width: 95%;
      padding-top: 5%;
}
.link-bg{
      text-decoration: none;
      background-image: linear-gradient(rgb(223, 152, 21), rgb(213, 101, 26) );
      padding: 10px 25px;
      border-radius: 8px;
      color: aliceblue;
      font-weight: 400;
      font-size:20px;
      text-align: center;
}
      .top-banner{
            background-image: url(images/top-banner.png);
            background-repeat: no-repeat;
 }
      
 
 
 h1{
      font-size: 50px;
      color: orange;
 }

.banner{
      background-image: url(images/top-banner.png);
      display: flex;
      background-repeat: no-repeat;
}
.joy-tech{
      color: orangered;
}
.pp{
      color: navy;
}
.bg-of-jtg{
      color: aliceblue;
      background-image: linear-gradient(orange, tomato);
      text-decoration: none;
      font-size: 30px;
      border-radius: 5PX;
}  